Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

.pre-commit-config.yaml:

# Based on https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/.pre-commit-config.yaml
# Lint cpp, py, xml, cmake

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.25.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: ament_clang_format
        name: ament_clang_format
        stages: [commit]
        entry: ament_clang_format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ["--reformat"]

  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        stages: [commit]
        entry: ament_flake8
        language: system
        files: \.py$

  - repo: local
    hooks:
      - id: ament_xmllint
        name: ament_xmllint
        stages: [commit]
        entry: ament_xmllint
        language: system
        files: \.xml$

  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes -q4 -L dout,DOUT']
        exclude: \.(svg|pyc|drawio|txt)$

Macrofied ros2_control joints
  irc_ros_description/urdf/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/cpr_platform_medium.xacro
  irc_ros_description/urdf/din_rail_module.ros2_control.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.urdf.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.xacro
  irc_ros_description/urdf/gripper_none.urdf.xacro
  irc_ros_description/urdf/gripper_schmalz_ecbpmi.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.xacro
  irc_ros_description/urdf/rebel_joint.ros2_control.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
Due: none

Removed double hardware tags
  irc_ros_description/urdf/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
Due: none

Set can as the default protocol
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
Due: none

Fix duplicate word, change wiki link back, set no default controller type
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/cpr_platform_medium.xacro
  irc_ros_description/urdf/din_rail_module.ros2_control.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.urdf.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.xacro
  irc_ros_description/urdf/gripper_none.urdf.xacro
  irc_ros_description/urdf/gripper_schmalz_ecbpmi.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.xacro
  irc_ros_description/urdf/rebel_joint.ros2_control.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
Due: none

Set cprcanv2 as default controller to start
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_dp_rl_5.launch.py
Due: ament_flake8

Add missing parameters to moveit launch file
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: none

Rename parameter, add default position limits
  irc_ros_description/urdf/din_rail_module.ros2_control.xacro
Due: none

ros2_control files refactoring (#50)
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_dp_rl_5.launch.py
  irc_ros_description/urdf/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/cpr_platform_medium.xacro
  irc_ros_description/urdf/din_rail_module.ros2_control.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.urdf.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.xacro
  irc_ros_description/urdf/gripper_none.urdf.xacro
  irc_ros_description/urdf/gripper_schmalz_ecbpmi.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.xacro
  irc_ros_description/urdf/rebel_joint.ros2_control.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: ament_flake8

Improve navigation performance (#49)
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: none

Add descriptions to all launch args
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_dp_rl_5.launch.py
  irc_ros_bringup/launch/sick_s300_2.launch.py
  irc_ros_description/launch/visualize.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Add descriptions to all launch args (#52)
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_dp_rl_5.launch.py
  irc_ros_bringup/launch/sick_s300_2.launch.py
  irc_ros_description/launch/visualize.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Untested first attempt
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Add list of available args and where to find info
  irc_ros_description/README.md
Due: none

Add list of available args and where to find more info (#54)
  irc_ros_description/README.md
Due: none

Add log output on error
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Changed prepare_movement() handling of MNE/motor state
  irc_ros_hardware/src/CAN/module.cpp
Due: ament_clang_format

Set resetState to public
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
Due: ament_clang_format

Improve write_can method, fix wrong log output
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Don't stop the hwinterface if an error is still getting handled
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

HardwareInterface error for single module errors (#53)
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Update topic and service names
  irc_ros_controllers/README.md
Due: none

Add description to hardware_protocol launch argument
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
Due: ament_flake8

Fix arg evaluation syntax
  irc_ros_description/urdf/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_description/urdf/rebel_joint.ros2_control.xacro
Due: none

renamed controller_type to hardware_protocol
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/modules/din_rail.ros2_control.xacro
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
  irc_ros_description/urdf/platforms/cpr_platform_medium.macro.xacro
  irc_ros_description/urdf/platforms/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof.macro.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof.macro.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.macro.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: ament_flake8

Fix argument being used as parameter
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
Due: none

Scope sub-launchfiles
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Due: ament_flake8

Add new documentation for the urdf structure
  irc_ros_description/README.md
  irc_ros_description/doc/urdf_structure.drawio
  irc_ros_description/doc/urdf_structure.png
Due: none

Create gripper macro
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
  irc_ros_description/urdf/grippers/ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/grippers/ext_dio_gripper.urdf.xacro
  irc_ros_description/urdf/grippers/grippers.macro.xacro
  irc_ros_description/urdf/grippers/none.urdf.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.description.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.urdf.xacro
Due: none

Adapted urdf file to new descriptions
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: none

Fix errors caused by new macros
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/platforms/cpr_platform_medium.macro.xacro
  irc_ros_description/urdf/platforms/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof.macro.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof.macro.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.description.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.macro.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: none

Fix laserscanner configuration
  irc_ros_bringup/launch/cpr_platform.launch.py
Due: ament_flake8

Fix search-and-replace error caused by controller_type having had two different meanings
  irc_ros_description/urdf/modules/din_rail.ros2_control.xacro
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
Due: none

Simplified protocol selection
  irc_ros_description/urdf/platforms/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.ros2_control.xacro
Due: none

Change hand to flange link
  irc_ros_description/rviz/rebel.rviz
  irc_ros_moveit_config/rviz/moveit.rviz
  irc_ros_navigation2/rviz/platform.rviz
Due: none

Rename joint from lidar_back to laser_back
  irc_ros_description/urdf/platforms/cpr_platform_medium.description.xacro
Due: none

Formating
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
  irc_ros_bringup/launch/sick_s300_2.launch.py
  irc_ros_description/launch/visualize.launch.py
Due: ament_flake8

Change chassis to base_link, add prefix to remaining files
  irc_ros_bringup/config/controller_cpr_platform_medium.yaml
  irc_ros_description/rviz/platform.rviz
  irc_ros_description/urdf/cpr_platform_medium.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.xacro
  irc_ros_description/urdf/gripper_none.urdf.xacro
  irc_ros_description/urdf/gripper_schmalz_ecbpmi.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
  irc_ros_navigation2/params/cpr_platform_medium.yaml
  irc_ros_navigation2/rviz/platform.rviz
Due: none

Set default to cprcanv2
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: none

Fixed typo in launch file name
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
Due: ament_flake8

Add prefix to .ros2_control.xacros
  irc_ros_description/urdf/cpr_platform_medium.ros2_control.xacro
  irc_ros_description/urdf/cpr_platform_medium.urdf.xacro
  irc_ros_description/urdf/gripper_ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/rebel_joint.ros2_control.xacro
Due: none
