Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

.pre-commit-config.yaml:

# Based on https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/.pre-commit-config.yaml
# Lint cpp, py, xml, cmake

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.25.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: ament_clang_format
        name: ament_clang_format
        stages: [commit]
        entry: ament_clang_format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ["--reformat"]

  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        stages: [commit]
        entry: ament_flake8
        language: system
        files: \.py$

  - repo: local
    hooks:
      - id: ament_xmllint
        name: ament_xmllint
        stages: [commit]
        entry: ament_xmllint
        language: system
        files: \.xml$

  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes -q4 -L dout,DOUT']
        exclude: \.(svg|pyc|drawio|txt)$

Only start ros2_control part of ext_dio_gripper with CPRCANv2 (#92)
  irc_ros_description/urdf/grippers/ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/grippers/grippers.macro.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
Due: none

Add link to moveitpy package
  irc_ros_examples/README.md
Due: none

First fix attempt
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Change gpio parts for other rebel versions
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
Due: none

Remove commented out code
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Adapt GPIO definition in urdfs to recent ros2_control fix (#96)
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Set rebel joint limits to match IRC configs
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
  irc_ros_moveit_config/config/joint_limits.yaml
Due: none

Add docs
  irc_ros_description/README.md
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
Due: none

Update issue link
  irc_ros_description/README.md
Due: none

Add comment to moveit readme as well
  irc_ros_moveit_config/config/joint_limits.yaml
Due: none

Change rebel joint's vel and acc limits to match IRC configs (#97)
  irc_ros_description/README.md
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
  irc_ros_moveit_config/config/joint_limits.yaml
Due: none

Add tool0 joints, add mock_hardware to macros
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.description.xacro
Due: none

Fix gripper coordinate system rotation
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.description.xacro
Due: none

Align grippers with new flange frame orientation
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.description.xacro
Due: none

PNP_Vacuum: Adjust rotation, rename variable
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Remove outdated orientation todo
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8

Fix missmatched blocks
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
Due: none

Fix flange/tool0 coordinate systems
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.description.xacro
Due: none

PNP Example: Rename eef link, adjust its rotation
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place.cpp
Due: ament_clang_format

Fix rotations not matching
  irc_ros_examples/src/pick_and_place.cpp
Due: ament_clang_format

Load joint limits for scaling the velocity/acceleration of linear movements
  irc_ros_examples/launch/pick_and_place.launch.py
Due: ament_flake8

Remove rotational offset for rebel on platform
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
Due: none

Lower joint limits on axis 2 and 3
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

Fix joint offsets
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

Change velocities in urdf descriptions to match new defaults
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

Add missing - to offset
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
Due: none

Fix the rest of the example while we are at it
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place.cpp
Due: ament_clang_format

Also fix the can gripper urdf
  irc_ros_description/urdf/grippers/ext_dio_gripper.ros2_control.xacro
Due: none

Adjust joint limits to offset, adjust direction and velocity for 4dof
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
Due: none

Fix joint offsets and limits (#99)
  irc_ros_description/urdf/rebel_on_platform.urdf.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

Make coordinate frames conform with convention, fix examples (#91)
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
  irc_ros_description/urdf/grippers/ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.description.xacro
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/launch/pick_and_place.launch.py
  irc_ros_examples/scripts/baristabot.py
  irc_ros_examples/src/pick_and_place.cpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format, ament_flake8

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add cri offset parameter to rebel axis and set them
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
Due: none

Read the parameter and apply it to read and write values, renamed motion variables
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Add ros2 control parameter explanaitions
  irc_ros_description/README.md
Due: none

Add mock gpios
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Rename offset parameter
  irc_ros_description/README.md
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
Due: none

Fix offset order of calculation
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Stop command output spam
  irc_ros_hardware/src/CRI/cri_socket.cpp
Due: ament_clang_format

Fix CRI joint missalignments (#82)
  irc_ros_description/README.md
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/CRI/cri_socket.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format
