Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

.pre-commit-config.yaml:

# Based on https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/.pre-commit-config.yaml
# Lint cpp, py, xml, cmake

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.25.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: ament_clang_format
        name: ament_clang_format
        stages: [commit]
        entry: ament_clang_format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ["--reformat"]

  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        stages: [commit]
        entry: ament_flake8
        language: system
        files: \.py$

  - repo: local
    hooks:
      - id: ament_xmllint
        name: ament_xmllint
        stages: [commit]
        entry: ament_xmllint
        language: system
        files: \.xml$

  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes -q4 -L dout,DOUT']
        exclude: \.(svg|pyc|drawio|txt)$

Turned most TODOs into issues
  README.md
  irc_ros_bringup/README.md
  irc_ros_controllers/README.md
  irc_ros_dashboard/README.md
  irc_ros_description/README.md
  irc_ros_examples/README.md
  irc_ros_hardware/README.md
  irc_ros_hardware/doc/velocity.png
  irc_ros_moveit_config/README.md
  irc_ros_navigation2/README.md
Due: none

Change log level of container size check
  irc_ros_hardware/src/CAN/digital_io.cpp
Due: ament_clang_format

Add deque as velocity buffer
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Move process to seperate thread
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place.cpp
Due: ament_clang_format

Change name of .repos file
  .github/workflows/ci.yaml
Due: none

Rename repo for automatic CI runs
  .github/workflows/ci.yaml
Due: none

Fix CI configuration for new repo (#26)
  .github/workflows/ci.yaml
Due: none

Remove testing output
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Add deque as velocity buffer (#25)
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Apply fix to vacuum example too
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Examples require kill (#27)
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place.cpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Fix wrong launch parameter name
  irc_ros_bringup/launch/cpr_platform.launch.py
Due: ament_flake8

Delay start of process thread
  irc_ros_examples/src/pick_and_place.cpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Update outdated example documentation, comments
  irc_ros_examples/README.md
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place.cpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Delay start of process thread (#29)
  irc_ros_examples/README.md
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place.cpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

First barebone process script
  irc_ros_examples/CMakeLists.txt
  irc_ros_examples/README.md
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8, ament_lint_cmake

Add launch file for nav2sc example
  irc_ros_examples/launch/nav2_simple_commander_example.launch.py
Due: ament_flake8

Add missing #! line
  irc_ros_examples/scripts/nav2_simple_commander_example.py
Due: ament_flake8

Add frame based move goals
  irc_ros_examples/launch/pick_and_place_vacuum.launch.py
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format, ament_flake8

Hotfix wrong reset command being removed
  irc_ros_hardware/src/CAN/module.cpp
Due: ament_clang_format

Fix tray frames, move movement parts into methods
  irc_ros_examples/CMakeLists.txt
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/package.xml
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format, ament_xmllint, ament_lint_cmake

Adapt readme
  irc_ros_examples/README.md
Due: none

Fix typo in log output
  irc_ros_hardware/src/CAN/can_socket.cpp
Due: ament_clang_format

12 improve pnp vacuum example (part 1) (#33)
  irc_ros_examples/CMakeLists.txt
  irc_ros_examples/README.md
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/launch/pick_and_place_vacuum.launch.py
  irc_ros_examples/package.xml
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

Fix gripper client, off by one error in outline_tray()
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Add velocity and acceleration scaling functionality
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Add tf2 commands to vacuum usage
  irc_ros_examples/README.md
Due: none

Clean SCI, remove duplicate state_interface vector
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_controllers/src/dashboard_controller.cpp
Due: ament_clang_format

Fix missing variable renaming
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
Due: ament_clang_format

Reorder functions
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_controllers/src/dashboard_controller.cpp
Due: ament_clang_format

Change member variable names to conform to code guidelines
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_controllers/src/dashboard_controller.cpp
Due: ament_clang_format

Add all state interfaces, adapt message and hardware interface to it, reorder them
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_hardware/src/irc_ros_can.cpp
  irc_ros_msgs/msg/CanModuleState.msg
Due: ament_clang_format

Add more comments
  irc_ros_controllers/src/dashboard_controller.cpp
Due: ament_clang_format

Remove old TODO
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
Due: ament_clang_format

Improve DashboardController and its SemanticComponentInterface (#36)
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_controllers/src/dashboard_controller.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
  irc_ros_msgs/msg/CanModuleState.msg
Due: ament_clang_format

First attempt using busy waiting
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

WIP: Changes seem to fix the behaviour, but require improvements, documentation, verification
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Clean startup routine, adjust timeouts
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_can.hpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Reference by priority in the activate function (untested)
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format
