Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

.pre-commit-config.yaml:

# Based on https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver/blob/main/.pre-commit-config.yaml
# Lint cpp, py, xml, cmake

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v1.25.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: ament_clang_format
        name: ament_clang_format
        stages: [commit]
        entry: ament_clang_format
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ["--reformat"]

  - repo: local
    hooks:
      - id: ament_flake8
        name: ament_flake8
        stages: [commit]
        entry: ament_flake8
        language: system
        files: \.py$

  - repo: local
    hooks:
      - id: ament_xmllint
        name: ament_xmllint
        stages: [commit]
        entry: ament_xmllint
        language: system
        files: \.xml$

  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists.txt$

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes -q4 -L dout,DOUT']
        exclude: \.(svg|pyc|drawio|txt)$

Change the remaining controller configs
  irc_ros_bringup/config/controller_dio_module.yaml
  irc_ros_bringup/config/controller_igus_rebel_4dof.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof.yaml
  irc_ros_bringup/config/controller_igus_robolink_rl_dp_5.yaml
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
Due: ament_flake8

Remove unneeded parameters
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/two_rebels.launch.py
Due: ament_flake8

Add prefix to robolink dp 5 xacro
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
Due: ament_flake8

Started to make moveit files more generic
  irc_ros_moveit_config/config/controllers.yaml
  irc_ros_moveit_config/config/igus_rebel_6dof.srdf
  irc_ros_moveit_config/config/igus_rebel_6dof.srdf.xacro
  irc_ros_moveit_config/config/initial_positions.yaml
  irc_ros_moveit_config/config/joint_limits.yaml
  irc_ros_moveit_config/config/kinematics.yaml
  irc_ros_moveit_config/config/moveit_controllers.yaml
  irc_ros_moveit_config/config/ros2_controllers.yaml
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Started to make nav2 files more generic
  irc_ros_navigation2/launch/cpr_platform.launch.py
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: ament_flake8

Add temporary workaround for namespaces and slam_toolbox
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
Due: ament_flake8

Remove unneeded parameter left over from rebase
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Due: ament_flake8

Remove delay, add hardware_interface parameter
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Add namespace to nav2 files, adjust cmd_vel remap
  irc_ros_navigation2/launch/cpr_platform.launch.py
Due: ament_flake8

Add velocity command interface to rebel macro
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
Due: none

Add velocity command interface to rebel macro (#67)
  irc_ros_description/urdf/modules/rebel.ros2_control.xacro
Due: none

Add namespaces, un-hardcoded controller name, add missing import
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Added rebel_1 prefixes as temp workaround
  irc_ros_moveit_config/config/controllers.yaml
Due: none

Changed default global frame to world to avoid log spam and crashes
  irc_ros_moveit_config/rviz/moveit.rviz
Due: none

Add note that the file is currently not in use
  irc_ros_moveit_config/config/moveit_controllers.yaml
Due: none

Update readme
  irc_ros_moveit_config/README.md
Due: none

Add info on how to make rviz work
  irc_ros_moveit_config/README.md
Due: none

Reverted changes for a seperate PR
  irc_ros_navigation2/launch/cpr_platform.launch.py
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: ament_flake8

Apply changes from #62
  irc_ros_navigation2/launch/cpr_platform.launch.py
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: ament_flake8

Update comments, remove unneeded file
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
  irc_ros_moveit_config/config/pilz_cartesian_limits.yaml
  irc_ros_moveit_config/package.xml
Due: ament_xmllint

Add gripper parameter
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Make yaml, srdf files generic via search and replace (#62)
  irc_ros_bringup/config/controller_cpr_platform_medium.yaml
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
  irc_ros_bringup/config/controller_dio_module.yaml
  irc_ros_bringup/config/controller_igus_rebel_4dof.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_1.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_2.yaml
  irc_ros_bringup/config/controller_igus_robolink_rl_dp_5.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
  irc_ros_bringup/launch/two_rebels.launch.py
  irc_ros_bringup/package.xml
  irc_ros_bringup/params/sick_s300.yaml
  irc_ros_moveit_config/README.md
  irc_ros_moveit_config/config/controllers.yaml
  irc_ros_moveit_config/config/igus_rebel_6dof.srdf
  irc_ros_moveit_config/config/igus_rebel_6dof.srdf.xacro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
  irc_ros_moveit_config/config/initial_positions.yaml
  irc_ros_moveit_config/config/joint_limits.yaml
  irc_ros_moveit_config/config/kinematics.yaml
  irc_ros_moveit_config/config/moveit_controllers.yaml
  irc_ros_moveit_config/config/pilz_cartesian_limits.yaml
  irc_ros_moveit_config/config/ros2_controllers.yaml
  irc_ros_moveit_config/launch/rebel.launch.py
  irc_ros_moveit_config/package.xml
  irc_ros_moveit_config/rviz/moveit.rviz
Due: ament_flake8, ament_xmllint

Working moveit api, add gripper commands
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8

First barebone process script
  irc_ros_examples/CMakeLists.txt
  irc_ros_examples/README.md
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8, ament_lint_cmake

Add default moveit py config
  irc_ros_moveit_config/config/moveit_py.yaml
Due: none

Add launch file
  irc_ros_examples/launch/baristabot.launch.py
Due: ament_flake8

Add missing #! line
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8

Update repository links
  irc_ros_bringup/package.xml
  irc_ros_controllers/package.xml
  irc_ros_dashboard/package.xml
  irc_ros_description/package.xml
  irc_ros_examples/package.xml
  irc_ros_hardware/package.xml
  irc_ros_moveit_config/package.xml
  irc_ros_msgs/package.xml
  irc_ros_navigation2/package.xml
Due: ament_xmllint

Update repository links (#70)
  irc_ros_bringup/package.xml
  irc_ros_controllers/package.xml
  irc_ros_dashboard/package.xml
  irc_ros_description/package.xml
  irc_ros_examples/package.xml
  irc_ros_hardware/package.xml
  irc_ros_moveit_config/package.xml
  irc_ros_msgs/package.xml
  irc_ros_navigation2/package.xml
Due: ament_xmllint

Add nav2 to non-optional requirements
  README.md
Due: none

Replace IPTP as it has been removed in rolling with TOTG
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
Due: ament_clang_format

[WIP] Updated launch file, testing yaml settings
  irc_ros_examples/launch/baristabot.launch.py
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8

Add LaunchArgument descriptions, move scan topic workaround to platform launch file
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
Due: ament_flake8

Remove distinction between error severity
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Simplified errorstate comparison
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
Due: ament_clang_format

Add remaining function docstrings
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
Due: ament_clang_format

Add class docstring
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
Due: ament_clang_format

Fix command mode switch resetting to often and not stopping unneeded modules
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Reset movement goals on command mode switch
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Add package description+
  irc_ros_dashboard/package.xml
  irc_ros_dashboard/setup.py
Due: ament_flake8, ament_xmllint
