Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

ament_clang_format:
  name: ament_clang_format
  stages:
  - commit
  entry: ament_clang_format
  language: system
  args:
  - --reformat

ament_flake8:
  name: ament_flake8
  stages:
  - commit
  entry: ament_flake8
  language: system

ament_xmllint:
  name: ament_xmllint
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fix errors caused by rebase
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/sick_s300_2.launch.py
Due: ament_flake8

Add launch argument for controller type selection
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
Due: ament_flake8

Adapt gripper selection
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
Due: none

Merged launch files
  irc_ros_bringup/config/controller_two_igus_rebel_6dof_first.yaml
  irc_ros_bringup/config/controller_two_igus_rebel_6dof_second.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/two_rebels.launch.py
Due: ament_flake8

Documentation about launch args
  irc_ros_bringup/README.md
  irc_ros_description/README.md
Due: none

Use GroupAction scoping for 2 rebels as well
  irc_ros_bringup/launch/two_rebels.launch.py
Due: ament_flake8

Remove output parameters
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Messy launch file fixes
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Due: ament_flake8

Remove output arguments
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Dont use the rebel_on_platform for nav2 anymore
  irc_ros_navigation2/launch/cpr_platform.launch.py
Due: ament_flake8

Remove duplicate gripper argument
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
Due: none

Readd waiting for controller manager
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Add namespace, prefix, controller_manager_name arguments
  irc_ros_bringup/launch/cpr_platform.launch.py
Due: ament_flake8

Add namespace to namespace_1 file
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
Due: none

Use the gripper macro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
Due: none

Change LaunchDescription style to match other launch files
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
Due: ament_flake8

Cleaned launch files, renamed controller configs
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_1.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_2.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
  irc_ros_bringup/launch/sick_s300_2.launch.py
  irc_ros_bringup/launch/two_rebels.launch.py
  irc_ros_description/launch/visualize.launch.py
Due: ament_flake8

Simplify protocol selection for 4dof 01 as well
  irc_ros_description/urdf/robots/igus_rebel_4dof_01.ros2_control.xacro
Due: none

Add prefix to controller config
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
Due: none

Combine laser scanner nodes into seperate launch file
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
  irc_ros_bringup/params/sick_s300.yaml
Due: ament_flake8

Enable the use of a namespace for the platform
  irc_ros_bringup/launch/cpr_platform.launch.py
Due: ament_flake8

Fix odom frame id
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
Due: none

Fix missing prefixes
  irc_ros_description/urdf/platforms/cpr_platform_medium.description.xacro
Due: none

Linting, spelling
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
  irc_ros_bringup/launch/two_rebels.launch.py
  irc_ros_description/README.md
  irc_ros_examples/README.md
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/launch/pick_and_place_vacuum.launch.py
  irc_ros_examples/src/pick_and_place_vacuum.cpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/can_interface.cpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format, ament_flake8

Add and condition via PythonExpression
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Add conditions to platform launch file
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Add choices to namespace, prefix, add descriptions
  irc_ros_bringup/launch/cpr_platform.launch.py
Due: ament_flake8

Limit platform namespace choices temporary (#63)
  irc_ros_bringup/launch/cpr_platform.launch.py
Due: ament_flake8

Add conditions to moveit launch file as well
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Only start crpcan specific controllers when the protocol is selected (#59)
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Move additional controller to seperate launch file
  irc_ros_bringup/launch/additional_controllers.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Move additional controllers to seperate launch file (#64)
  irc_ros_bringup/launch/additional_controllers.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Remove EventHandler delaying
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Fix GroupActions, fix filename missing .yaml
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Due: ament_flake8

Formatting
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Due: ament_flake8

Fix losing LaunchConfigurations with EventHandlers for top level launch files (#65)
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Due: ament_flake8

Make laserscanner config generic
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
  irc_ros_bringup/package.xml
  irc_ros_bringup/params/sick_s300.yaml
Due: ament_flake8, ament_xmllint

Make rebel 6dof and platform configs generic
  irc_ros_bringup/config/controller_cpr_platform_medium.yaml
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_1.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_2.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Path conditions:
  ament_clang_format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_flake8: any of: \.py$
  ament_xmllint: any of: \.xml$
  ament_lint_cmake: any of: CMakeLists.txt$
