Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

ament_clang_format:
  name: ament_clang_format
  stages:
  - commit
  entry: ament_clang_format
  language: system
  args:
  - --reformat

ament_flake8:
  name: ament_flake8
  stages:
  - commit
  entry: ament_flake8
  language: system

ament_xmllint:
  name: ament_xmllint
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update referencing information
  irc_ros_hardware/README.md
Due: none

Improve logging output
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Remove unneccessary ref states, add descriptions
  irc_ros_hardware/include/irc_ros_hardware/CAN/modulestates.hpp
Due: ament_clang_format

WIP: Referencing bugfixes
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_can.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Add controller type to motor member vars, add current reading, limit current reading to closed_loop modules
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/modulestates.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Add motor current to hw interface, messages and controller
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
  irc_ros_msgs/msg/CanModuleState.msg
Due: ament_clang_format

Handle reference, align and set to zero, Add callbacks
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/modulestates.hpp
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Add logging for the reference bit
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Fix missing argument for constraints
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Add velocity and acceleration scaling functionality (#34)
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/src/pick_and_place_vacuum.cpp
Due: ament_clang_format

Add motor_current to GPIO interfaces as well
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Fix undefined temperatures for GPIO modules
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
Due: ament_clang_format

Handle reference, align and set to zero, Add callbacks (#43)
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/modulestates.hpp
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Fix current reading and output (#42)
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/modulestates.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
  irc_ros_msgs/msg/CanModuleState.msg
Due: ament_clang_format

Improve Nav2 Simple Commander example startup (#32)
  irc_ros_examples/launch/nav2_simple_commander_example.launch.py
  irc_ros_examples/scripts/nav2_simple_commander_example.py
Due: ament_flake8

Fix typo
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Limit automatic reset on startup
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Turn message input handling into callback fns
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
Due: ament_clang_format

Add diagram explaining dashboard commands
  irc_ros_dashboard/README.md
  irc_ros_dashboard/doc/dashboard_process.drawio
  irc_ros_dashboard/doc/dashboard_process.png
Due: none

Add continuous joint parameter to rl dp 5
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.xacro
Due: none

Adapted ReBeL 6DOF 00 and 01
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
Due: none

Change remaining robot urdfs, add missing xacro header
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
Due: none

Update README.md
  README.md
Due: none

Add information about RT kernel (#45)
  README.md
Due: none

Limit queue size, add warnings
  irc_ros_hardware/include/irc_ros_hardware/CAN/can_interface.hpp
  irc_ros_hardware/src/CAN/can_interface.cpp
Due: ament_clang_format

Add notice regarding references
  README.md
Due: none

Reduce size limits further, read all available messages in read_can()
  irc_ros_hardware/include/irc_ros_hardware/CAN/can_interface.hpp
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

13 Continuous last joint (#46)
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_4dof_00.xacro
  irc_ros_description/urdf/igus_rebel_4dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_00.xacro
  irc_ros_description/urdf/igus_rebel_6dof_01.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.ros2_control.xacro
  irc_ros_description/urdf/igus_rebel_6dof_pre.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.ros2_control.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.xacro
Due: none

Limit CAN input queue size (#47)
  irc_ros_hardware/include/irc_ros_hardware/CAN/can_interface.hpp
  irc_ros_hardware/src/CAN/can_interface.cpp
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Improve startup routine regarding error reset and referencing (#38)
  README.md
  irc_ros_hardware/README.md
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/modulestates.hpp
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_can.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Add controller_type state interface, reorder them
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Limit the default velocity and speed, set trajectory parameters, add short delay for lin
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
Due: ament_clang_format

Add controller_type state interface (#48)
  irc_ros_controllers/include/irc_ros_controllers/dashboard_controller.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Allow reversing, increase limits, decrease tolerance
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: none

Fix sim_time being enabled for two nodes
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: none

Change behaviour tree, reduce rotational acc, increase x velocity, parameter adjustments
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: none

Fix can message to string function output
  irc_ros_hardware/src/CAN/can_message.cpp
Due: ament_clang_format

Lower log levels of can message buffer state
  irc_ros_hardware/src/CAN/can_interface.cpp
Due: ament_clang_format

Further parameter changes, reduce frequency
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: none

First urdf with optional mock system
  irc_ros_description/urdf/igus_rebel_6dof_00.ros2_control.xacro
Due: none

Path conditions:
  ament_clang_format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_flake8: any of: \.py$
  ament_xmllint: any of: \.xml$
  ament_lint_cmake: any of: CMakeLists.txt$
