Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

ament_clang_format:
  name: ament_clang_format
  stages:
  - commit
  entry: ament_clang_format
  language: system
  args:
  - --reformat

ament_flake8:
  name: ament_flake8
  stages:
  - commit
  entry: ament_flake8
  language: system

ament_xmllint:
  name: ament_xmllint
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Replace package with file uri
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.description.xacro
  irc_ros_description/urdf/platforms/cpr_platform_medium.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.description.xacro
Due: none

Replace package with file uri (#103)
  irc_ros_description/urdf/grippers/ext_dio_gripper.description.xacro
  irc_ros_description/urdf/grippers/schmalz_ecbpmi.description.xacro
  irc_ros_description/urdf/platforms/cpr_platform_medium.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_4dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_description/urdf/robots/igus_robolink_rl_dp_5.description.xacro
Due: none

Add note regarding CycloneDDS issue
  README.md
Due: none

Add missing moveit_config dependency
  irc_ros_examples/package.xml
Due: ament_xmllint

Update dependencies from rviz to rviz2
  irc_ros_bringup/package.xml
  irc_ros_description/package.xml
Due: ament_xmllint

Remove rviz dependency from hardware pkg
  irc_ros_hardware/package.xml
Due: ament_xmllint

Fix dependencies in package.xml files (#108)
  irc_ros_bringup/package.xml
  irc_ros_description/package.xml
  irc_ros_examples/package.xml
  irc_ros_hardware/package.xml
Due: ament_xmllint

Add missing ros2_controllers dependencies
  irc_ros_bringup/package.xml
Due: ament_xmllint

Broken link (Navigation2) fixed
  README.md
Due: none

Fixed multithread problems in read/write of status
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Added state interface for platform Pose
  irc_ros_description/urdf/serviceRobots/rebel_on_platform.ros2_control.xacro
  irc_ros_hardware/include/irc_ros_hardware/CRI/cri_socket.hpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/CRI/cri_socket.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Cleanup
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/rebel_on_platform_debug.launch.py
  irc_ros_bringup/launch/rebel_platform_single_description.launch.py
  irc_ros_examples/launch/keyboard_ctrl.launch.py
  irc_ros_examples/src/keyboard_control.cpp
  irc_ros_hardware/doc/candump.txt
  irc_ros_hardware/doc/jitter.png
  irc_ros_hardware/doc/parse_candump.py
Due: ament_clang_format, ament_flake8

Update README.md
  irc_ros_controllers/README.md
Due: none

Update README.md
  irc_ros_hardware/README.md
Due: none

Added command interfaces for cartesian velocities
  irc_ros_description/urdf/serviceRobots/rebel_on_platform.ros2_control.xacro
Due: none

Added command interfaces for cartesian velocities of robot arm
  irc_ros_bringup/config/controller_rebel_on_platform.yaml
  irc_ros_controllers/include/irc_ros_controllers/platform_controller.hpp
  irc_ros_controllers/src/platform_controller.cpp
  irc_ros_examples/src/keyboard_control.cpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
Due: ament_clang_format

Fixed error in message parsing
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/CRI/cri_socket.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Compatibility fixes for RobotControl V14: ignore some new CRI messages; parsing of DIO values in STATUS message
  irc_ros_hardware/include/irc_ros_hardware/CRI/cri_keywords.hpp
  irc_ros_hardware/include/irc_ros_hardware/CRI/cri_messages.hpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Clear buffer before reading new message, to fix mixed messages
  irc_ros_hardware/src/CRI/cri_socket.cpp
Due: ament_clang_format

Log message for CMDERROR messages
  irc_ros_hardware/include/irc_ros_hardware/CRI/cri_messages.hpp
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Ignore unknown messages
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Fixed: Compilation errors
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Request Cri Version if not set yet
  irc_ros_hardware/src/CRI/cri_messages.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Fix bug that caused "incomplete Move command"
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Save DIOs as long int
  irc_ros_hardware/include/irc_ros_hardware/CRI/cri_messages.hpp
  irc_ros_hardware/src/CRI/cri_messages.cpp
Due: ament_clang_format

Change default hardware_protocol to CRI
  irc_ros_bringup/launch/rebel.launch.py
Due: ament_flake8

Fix invalidargument exception when parsing Dios
  irc_ros_hardware/src/CRI/cri_messages.cpp
Due: ament_clang_format

Fix typo
  irc_ros_hardware/package.xml
Due: ament_xmllint

Add logging
  irc_ros_hardware/src/CRI/cri_socket.cpp
Due: ament_clang_format

Fix "incomplete move Command" error
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Added deprecation note to README.md
  README.md
Due: none

texture added to igus_rebel_6dof_00
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint0.dae
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint1.dae
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint2.dae
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint3.dae
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint4.dae
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint5.dae
  irc_ros_description/meshes/igus_rebel_6dof_00/Joint6.dae
Due: none

Path conditions:
  ament_clang_format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_flake8: any of: \.py$
  ament_xmllint: any of: \.xml$
  ament_lint_cmake: any of: CMakeLists.txt$
