Repository CommonplaceRobotics/iRC_ROS: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_clang_format, ament_flake8, ament_xmllint, ament_lint_cmake

ament_clang_format:
  name: ament_clang_format
  stages:
  - commit
  entry: ament_clang_format
  language: system
  args:
  - --reformat

ament_flake8:
  name: ament_flake8
  stages:
  - commit
  entry: ament_flake8
  language: system

ament_xmllint:
  name: ament_xmllint
  stages:
  - commit
  entry: ament_xmllint
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Add issue number to todo
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

Update deconstructor comment
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Remove deprecated is_ready_to_move function
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Move hardware id check to callback instead of constructor
  irc_ros_hardware/src/CAN/joint.cpp
Due: ament_clang_format

Add base launch file selection
  irc_ros_navigation2/launch/cpr_platform.launch.py
Due: ament_flake8

Add issue number to todo
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_controllers/src/dashboard_controller.cpp
  irc_ros_dashboard/irc_ros_dashboard/cli_dashboard.py
Due: ament_clang_format, ament_flake8

Remove old TODOs, fix typos
  .github/workflows/ci.yaml
  irc_ros_bringup/README.md
  irc_ros_bringup/config/controller_cpr_platform_medium.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_hardware/README.md
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/CAN/can_interface.cpp
  irc_ros_hardware/src/CAN/can_socket.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
  irc_ros_msgs/package.xml
  irc_ros_navigation2/README.md
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: ament_clang_format, ament_flake8, ament_xmllint

Remove todos
  irc_ros_hardware/README.md
Due: none

Link issues to TODO
  irc_ros_hardware/src/CAN/digital_io.cpp
Due: ament_clang_format

Clean imports, tidy up a bit
  irc_ros_examples/launch/baristabot.launch.py
Due: ament_flake8

Add check for duplicate can ids
  irc_ros_hardware/src/irc_ros_can.cpp
Due: ament_clang_format

Remove is_ready_to_move declarations from header files
  irc_ros_hardware/include/irc_ros_hardware/CAN/digital_io.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
Due: ament_clang_format

Todo and fixme cleanup (#73)
  .github/workflows/ci.yaml
  irc_ros_bringup/README.md
  irc_ros_bringup/config/controller_cpr_platform_medium.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
  irc_ros_controllers/include/irc_ros_controllers/dashboard_semantic_component_interface.hpp
  irc_ros_controllers/src/dashboard_controller.cpp
  irc_ros_dashboard/irc_ros_dashboard/cli_dashboard.py
  irc_ros_dashboard/package.xml
  irc_ros_dashboard/setup.py
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
  irc_ros_hardware/README.md
  irc_ros_hardware/include/irc_ros_hardware/CAN/digital_io.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/joint.hpp
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/include/irc_ros_hardware/common/errorstate.hpp
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/CAN/can_interface.cpp
  irc_ros_hardware/src/CAN/can_socket.cpp
  irc_ros_hardware/src/CAN/digital_io.cpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
  irc_ros_hardware/src/irc_ros_cri.cpp
  irc_ros_msgs/package.xml
  irc_ros_navigation2/README.md
  irc_ros_navigation2/launch/cpr_platform.launch.py
  irc_ros_navigation2/params/cpr_platform_medium.yaml
Due: ament_clang_format, ament_flake8, ament_xmllint

Send joint goals as degrees via CRI
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Add unit comments to position, velocity vars
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
Due: ament_clang_format

Send joint goals in degrees to hardware as specified in the protocol description (#79)
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Remove # characters from urdf comments
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

Remove # characters from urdf comments (#81)
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Due: none

adds velocity state interface to the cri hardware interface. The velocity is only initialized, not written or read. This is necessary because the controller expects an interface to be there.
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Adds velocity state interface to the cri hardware interface (#83)
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Due: ament_clang_format

Add issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add more information about the protocols
  irc_ros_hardware/README.md
Due: none

Add issue template (#84)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Reworking launch file structure (WIP)
  irc_ros_examples/launch/baristabot.launch.py
  irc_ros_moveit_config/config/joint_limits.yaml
  irc_ros_moveit_config/config/kinematics.yaml
  irc_ros_moveit_config/config/moveit_py.yaml
Due: ament_flake8

Remove parameter testing code
  irc_ros_examples/scripts/baristabot.py
Due: ament_flake8

Fix control node parameters
  irc_ros_examples/launch/baristabot.launch.py
Due: ament_flake8

remove duplicate code
  irc_ros_examples/launch/baristabot.launch.py
Due: ament_flake8

Fix typo
  irc_ros_moveit_config/config/joint_limits.yaml
Due: none

MoveItPy is working again, mostly
  irc_ros_examples/launch/baristabot.launch.py
Due: ament_flake8

Moveit(py) config working
  irc_ros_examples/launch/baristabot.launch.py
  irc_ros_examples/scripts/baristabot.py
  irc_ros_moveit_config/config/controllers.yaml
  irc_ros_moveit_config/config/joint_limits.yaml
  irc_ros_moveit_config/config/kinematics.yaml
  irc_ros_moveit_config/config/moveit_py.yaml
  irc_ros_moveit_config/config/ompl.yaml
Due: ament_flake8

Add tcp joint for no gripper case
  irc_ros_description/urdf/grippers/grippers.macro.xacro
Due: none

Basic coffee process works
  irc_ros_examples/launch/baristabot.launch.py
  irc_ros_examples/scripts/baristabot.py
  irc_ros_moveit_config/config/moveit_py.yaml
Due: ament_flake8

Update moveit launch file to same structure as baristabot
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Update readme
  irc_ros_examples/README.md
Due: none

Implement baristabot Example (#30)
  irc_ros_description/urdf/grippers/grippers.macro.xacro
  irc_ros_examples/CMakeLists.txt
  irc_ros_examples/README.md
  irc_ros_examples/include/irc_ros_examples/pick_and_place_base.hpp
  irc_ros_examples/launch/baristabot.launch.py
  irc_ros_examples/scripts/baristabot.py
  irc_ros_moveit_config/config/controllers.yaml
  irc_ros_moveit_config/config/joint_limits.yaml
  irc_ros_moveit_config/config/kinematics.yaml
  irc_ros_moveit_config/config/moveit_py.yaml
  irc_ros_moveit_config/config/ompl.yaml
Due: ament_clang_format, ament_flake8, ament_lint_cmake

Add vcs command to install chapter
  README.md
Due: none

Remove outdated TODO
  irc_ros_moveit_config/launch/rebel.launch.py
Due: ament_flake8

Only start ros2_control part of ext_dio_gripper with CPRCANv2
  irc_ros_description/urdf/grippers/ext_dio_gripper.ros2_control.xacro
Due: none

Add hardware_protocol arguments to gripper macros
  irc_ros_description/urdf/grippers/ext_dio_gripper.ros2_control.xacro
  irc_ros_description/urdf/grippers/grippers.macro.xacro
  irc_ros_description/urdf/igus_rebel_4dof.urdf.xacro
  irc_ros_description/urdf/igus_rebel_6dof.urdf.xacro
  irc_ros_description/urdf/igus_robolink_rl_dp_5.urdf.xacro
Due: none

Path conditions:
  ament_clang_format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_flake8: any of: \.py$
  ament_xmllint: any of: \.xml$
  ament_lint_cmake: any of: CMakeLists.txt$
